extends layout

block content
    container
      h1(class="subtitle") Message Board
      div(class="columns")
        div(class="column")
        if user
          div(class="column is-three-quarters content")
            a(class="bd-button button is-primary" href="/message/create") Post message
            each message in messages
              div
                p #{ message.title }
                p #{ message.text }
                p #{ message.time_stamp }
                p #{ message.user.user_name}
        else
          div(class="column is-three-quarters content")
            each message in messages
              div
                p #{ message.title }
                p #{ message.text }
                p #{ message.time_stamp }
                p #{ message.user.user_name }
        div(class="column")