extends layout

block content
    container
      h1(class="subtitle") Message Board
      div(class="columns")
        div(class="column")
        if user && !user.isMember
          div(class="column is-three-quarters content")
            a(class="bd-button button is-primary" href="/message/create") Post message
            div(class="message-box")
              each message in messages
                div(class="message-box")
                  div(class="message-post tile notification is-info is-8")
                    p(class="title") #{ message.title }
                    p(class="subtitle") #{ message.text }
                    p -Anonymous
        else if user && user.isAdmin
          div(class="column is-three-quarters content")
            a(class="bd-button button is-primary" href="/message/create") Post message
            div(class="message-box")
              each message in messages
                  div(class="message-post tile notification is-info is-8")
                    form(class="removepost" action="message/remove/"+ message._id, method="POST")
                      button(class="button is-danger removepost" native-type="submit" name="submit" value="submit") Delete
                    p(class="title") #{ message.title }
                    p(class="subtitle") #{ message.text }
                    div(class="user-date")
                      div
                         p -#{ message.user.user_name }
                      div
                        p #{ message.time_stampFormatted }
        else if user
          div(class="column is-three-quarters content")
            a(class="bd-button button is-primary" href="/message/create") Post message
            div(class="message-box")
              each message in messages
                  div(class="message-post tile notification is-info is-8")
                    p(class="title") #{ message.title }
                    p(class="subtitle") #{ message.text }
                    div(class="user-date")
                      div
                         p -#{ message.user.user_name }
                      div
                        p #{ message.time_stampFormatted }
        else
          div(class="column is-three-quarters content")
            div(class="message-box")
              each message in messages
                div(class="message-post tile notification is-info is-8")
                  p(class="title") #{ message.title }
                  p(class="subtitle") #{ message.text }
                  p -Anonymous
        div(class="column")